$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

body {
    color: #ddd;
    background-color: #ddd;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%)
}

div.mini-post {
    margin-top: 30px
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #AE7047;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold
}

#logo:hover,ul.nav li:hover {
    background-color: #ddd
}

p a.btn.btn-lg:link,p .btn-group-lg>a.btn:link,p a.btn.btn-lg:visited,p .btn-group-lg>a.btn:visited {
    background-color: #0A0403;
    color: #ddd
}

p a.btn.btn-lg:hover,p .btn-group-lg>a.btn:hover,p a.btn.btn-lg:active,p .btn-group-lg>a.btn:active {
    background-color: #ddd;
    color: #0A0403
}

.footer {
    background-color: #0A0403;
    height: 50px;
    padding: 10px
}

.footer-link:link,.footer-link:visited {
    color: #ddd
}

.footer-link:hover,.footer-link:active {
    color: #AE7047;
    border-bottom: solid 2px
}
