$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

div.mini-post {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.6);
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #AE7047;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold
}

#logo:hover,
ul.nav li:hover {
  background-color: #ddd
}

.homepage-button:link,
.homepage-button:visited,
.custom-button,
.custom-button.pressed {
  background-color: #0A0403;
  color: #ddd
}

.homepage-button:hover,
.homepage-button:active,
.custom-button:hover,
.custom-button:active {
  background-color: #ddd;
  color: #0A0403
}


.homepage-text-color {
  color: #ddd;
}

.homepage-image {
  margin-top: 15px;
}

.homepage-link:link,
.homepage-link:visited {
  color: #ddd !important;
}

.homepage-link:hover,
.homepage-link:active {
  font-weight: bold;
  font-size: 110%;
}

.description {
  margin-top: 0;
}

.well a {
  color: #AE7047;
}

.chef_info {
  margin-top: 10px;
}

.colormatch a {
  color: #AE7047;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  font-weight: bold;
  font-size: 1.25em;
}

.badge-inverse {
  background-color: #333333;
}

.badge-inverse:hover {
  background-color: #1a1a1a;
}

.input_checkbox input {
  width: auto !important;
}